<!-- Home Page. -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content ="width=device-width,initial-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="icon" href="../static/images/PathIcon.png">
    <title>PolyPathway</title>
  </head>

    <body>
      <section class="showcase">
          <div id="sidebar">
 
              <div class="toggle-btn" onclick="show()">
                <span></span>
                <span></span>
                <span></span>
              </div>
          
              <ul>
                <li> <a href="../">Home</a> </li>
                <li> <a href="../locationHome">Quick Search</a> </li>
                <li> <a href="../events">Events</a> </li>
                <li> <a href="../campusMap">Campus Map</a> </li>
                <li> <a href="../contact">Contact</a> </li>
                <li> <a href="../aboutus">About</a> </li>
            </ul>
          </div>
          <section class="container">
            <img src="../static/images/polyPathFF.png" alt=" " class="logo" />
      
            <br><br><br>  
            <div id="campusMap" ></div>          
      <script>
        function show() {
          document.getElementById('sidebar').classList.toggle('active');
        }
        
      </script>

          <script>     //Script for Custom Map
            function initMap() {        
                map = new google.maps.Map(document.getElementById('campusMap'), {
                  center: {
                    lat: 34.058591346994056,
                    lng: -117.82175552024833
                  },
                  zoom: 18,
                  mapId: '86537033817cb2e3', //custom map ID
                  mapTypeControl: false, //Map controls to see streetview, fullscreen
                  fullscreenControl: false,
                  streetViewControl: false,
                });
              }
          </script>
        
            <!-- Replace API_KEY when we go live and you can keep the MAP_ID  -->
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCnQLfehLWCsHMsay61rzCnF4JelH4VqVU&map_ids=86537033817cb2e3&callback=initMap">
            </script>
  </body>
</html>