<!-- Home Page. -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="icon" href="../static/images/PathIcon.png">
    <title>PolyPathway Contact</title>
  </head>
<body>
    <form action="#contactUser" name="contactUser" onsubmit="return(validate())">
        <section class= "contact">
            <div class ="content">
                <h2>Contact Us</h2>
                <p>This is our customer service support page. Please fill in the form and send us a message.</p>
                <div class="container">
            </div>
            <div class = "contactForm"> 
                <form>
                    <div class="inputBox">
                    <label for="name">Name</label>
                    <input type="text" name="firstlastname" id="name" placeholder="   Name here.">
                                    
                    </div>
                    <div class="inputBox">
                        <label for="email">Email</label>
                        <input type="text" name="emailaddress" id="emailaddress" placeholder="   Email address here." >
                                        
                    </div>
                    <div class="inputBox">
                        <label for="message">Message</label>
                        <textarea name="message" id="message" rows="4" placeholder="   Message..." ></textarea>                                                 
                    </div>
                    <div class="inputBox">
                        <button type="submit" name="" value="Send message"> Send </button> 
                                  
                    </div>         
                </form>                           
   
        </div>
        </section>
   </form>
   <div id="sidebar">
    <div class="toggle-btn" onclick="show()">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <ul>
        <li> <a href="indexHome.html">Home</a> </li>
        <li> <a href="locationHome.html">Quick Search</a> </li>
        <li> <a href="aboutus.html">About</a> </li>
        <li> <a href="contact.html">Contact</a> </li>
        <li> <a href="campusMap.html">Campus Map</a> </li>
    </ul>
</div>

<script>
function show() {
  document.getElementById('sidebar').classList.toggle('active');
}
</script>

</body>

    <script>
        function validate()
            { 
            if( document.contactUser.name.value == "" )
            {
                alert( "Enter Your Name!" );
                document.input.firstlastname.focus() ;
                return false;
            }
            
            if( document.contactUser.emailaddress.value == "" )
            {
                alert( "Enter your Email!" );
                document.contact.emailaddress.focus() ;
                return false;
            }

            var email = document.contactUser.emailaddress.value;
            atpos = email.indexOf("@");
            dotpos = email.lastIndexOf(".");
            
            if (email == "" || atpos < 1 || ( dotpos - atpos < 2 )) 
            {
                alert("Please enter correct email ID")
                document.contactUser.emailaddress.focus() ;
                return false;
            }  
            }
    </script>


</html>