<!-- Contact Us Page. -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content ="width=device-width,initial-scale=1,user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="icon" href="../static/images/PathIcon.png">
    <title>PolyPathway</title>
  </head>
    <style>
      h1 {
      display: block;
      font-size: 3em;
      text-align: center;   
      color: white;
      }
    </style> 
    <body>
  
        <section class="showcase">
            <div class="toggle-btn" onclick="show()">
                <span></span>
                <span></span>
                <span></span>
              </div>
            <div id="sidebar">

                <ul>
                    <div class="toggle-btn" onclick="show()">
                      <span></span>
                      <span></span>
                      <span></span>
                    </div>
                    <div class="entireSection">
                      <li> <a href="../">Home</a> </li>
                      <li> <a href="../locationHome">Quick Search</a> </li>
                      <li> <a href="../distance">ETA CALC</a> </li>
                      <li> <a href="../events">Events</a> </li>
                      <li> <a href="../campusMap">Campus Map</a> </li>
                      <div class="currentSelect">
                        <li> <a href="../contact">Contact</a>  <style> .currentSelect li a { color: white;}</style> </li>
                      </div>
                   
                      <li> <a href="../aboutus">About</a> </li>
                    </div>
                   
                </ul>
          </div>
            <section class="container">
              
        
              <br><br><br>
            
                  <h1 style="text-align: center;">Contact Us</h1> <!-- Text style here -->
               
                    <form action="https://formsubmit.co/polypathway@gmail.com" method="POST" class="form">        
                        <input type="hidden" name="_next" value="https://polypathway.com">
                        <div class="form-group">
                            <label for="name" class="form-label">Your Name</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Name" tabindex="1" required>
                        </div>
                        <div class="form-group">
                            <label for="email" class="form-label">Your Email</label>
                            <input type="hidden" name="_subject" value="New contact request!"> <!-- You can enter whatever subject message you want back to us-->
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email" tabindex="2" required>
                        </div>
                        <div class="form-group">
                            <label for="subject" class="form-label">Subject</label>
                            <input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" tabindex="3" required>
                        </div>
                        <div class="form-group">
                            <label for="message" class="form-label">Message</label>
                            <input type="hidden" name="_next" value="https://polypathway.com">
                            <textarea class="form-control" rows="5" cols="50" id="message" name="message" placeholder="Enter Message..." tabindex="4"></textarea>
                        </div>
                        <div>
                            <button type="submit" class="btn">Send</button>
                           
                        </div>
                    </form>
                    
                </section>
 
            
    
    </body>

<script>
    function show() {
        document.getElementById('sidebar').classList.toggle('active');
    }
</script>


<script>
    $(function() {   
        $(".form-control").on('focus', function(){
            $(this).parents(".form-group").addClass('focused');
        });

        $(".form-control").on('blur', function(){
            $(this).parents(".form-group").removeClass('focused');
        });
    });
</script>

<script>
    function validate()
        { 
        if( document.contactUser.name.value == "" )
        {
            alert( "Enter Your Name!" );
            document.input.firstlastname.focus() ;
            return false;
        }
        
        if( document.contactUser.emailaddress.value == "" )
        {
            alert( "Enter your Email!" );
            document.contact.emailaddress.focus() ;
            return false;
        }

        var email = document.contactUser.emailaddress.value;
        atpos = email.indexOf("@");
        dotpos = email.lastIndexOf(".");
        
        if (email == "" || atpos < 1 || ( dotpos - atpos < 2 )) 
        {
            alert("Please enter correct email ID")
            document.contactUser.emailaddress.focus() ;
            return false;
        }  
        }
</script>
</html>