<!-- Home Page. -->
<!-- JelloMan -->



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>PolyPathway</title>
  </head>
  <body>


  <section class="showcase">
    <section class="container">
      <img src="../static/images/polyPathFF.png" alt=" " class="logo" />
      <h3 style="color:black;">Invalid input! Please enter a valid building number.</h3><br>
      <h3>Building Search</h3>
      <form action = "/userRequestMap" method="GET">
      <label for="buildID">Parking</label><br>
      <input type="checkbox" id="parking" name="parking" value="0"><br>
      <label for="buildID">Enter Building/Parking-Lot Number</label><br>
      <input type="text" id="buildID" name="buildID" value="8"><br>
      <input type="submit" value="Navigate!">
      </form> 
      </section>

  <div id="sidebar">
    <div class="toggle-btn" onclick="show()">
      <span></span>
      <span></span>
      <span></span>
    </div>

     
    <ul>
      <div class="toggle-btn" onclick="show()">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="entireSection">
        <li> <a href="../">Home</a> </li>
        <li> <a href="../locationHome">Quick Search</a> </li>
        <li> <a href="../distance">ETA Calculator</a> </li>
        <li> <a href="../events">Events</a> </li>
        <li> <a href="../campusMap">Campus Map</a> </li>
        <li> <a href="../contact">Contact</a> </li>
        <li> <a href="../aboutus">About</a> </li>
      </div>
     
  </ul>
</div>

<script>
  function show() {
    document.getElementById('sidebar').classList.toggle('active');
  }
</script>


  </body>

</html>


