<!-- Home Page. -->
<!-- JelloMan -->



<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="icon" href="../static/images/PathIcon.png">
    <title>PolyPathway</title>
  </head>
  <body>


  <section class="showcase">
    <section class="container">
      <img src="../static/images/newPolyF.png" alt=" " class="logo" />
      <br><br><br>
      
      <form action = "/userRequestMap" method="GET">
       <label for="buildID">Enter Building/Parking-Lot Number</label><br>
      <label for="buildID">Parking</label><br>
      <input type="checkbox" id="parking" name="parking" value="0"><br>
     
      <input type="text" id="buildID" name="buildID" value="8"><br>
      <input type="submit" value="Navigate!">
      </form> 
      </section>
      

  <div id="sidebar">
      <div class="toggle-btn" onclick="show()">
        <span></span>
        <span></span>
        <span></span>
      </div>

      <ul>
        <li> <a href="indexHome.html">Home</a> </li>
        <li> <a href="locationHome.html">Quick Search</a> </li>
        <li> <a href="aboutus.html">About</a> </li>
        <li> <a href="contact.html">Contact</a> </li>
        <li> <a href="campusMap.html">Campus Map</a> </li>
    </ul>
</div>

<script>
  function show() {
    document.getElementById('sidebar').classList.toggle('active');
  }
</script>


  </body>

</html>


