<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>PolyPath Locations</title>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="../static/locationScripts.css" />
	</head>

    <section id="hero">
        <div class="container">
          <nav>
            <h1>Cal Poly Attractions</h1>
            <ul>
              <li><a href="../templates/indexHome.html">Home</a></li>
              <li><a href="../templates/locationsHome.html">Location</a></li>
              <li>Html2</li>
              <li>Html3</li>
            </ul>
          </nav>
          <div class="content">
            <img src="../static/images/whitePoly.png" alt="Avatar" class="image">
            <ul>
              <button>Rose Garden</button>
              <button>Rose Garden1</button>
              <button>Rose Garden2</button>
              <button>Rose Garden3</button>
            </ul>
          </div>
        </div>
      </section>
      
</html>