<!-- Home Page. -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="icon" href="../static/images/PathIcon.png">
    <title>PolyPathway</title>
  </head>

  <body>
 

    <div class="showcase">
      <div class="container">
        <img src="../static/images/newPolyF.png" alt=" " class="logo" />
        <br><br><br>
        <h3>Quick Search</h3>
        <form action = "/LocationRequestMap" method="GET">
      
        <input type="submit" id="locName" name="locName" value="Engr. Meadow">
        <input type="submit" id="locName" name="locName" value="Horse Statue">
        <input type="submit" id="locName" name="locName" value="Upper Quad">
        <input type="submit" id="locName" name="locName" value="Student Center"><br>
        <input type="submit" id="locName" name="locName" value="Bio Trek">
        <input type="submit" id="locName" name="locName" value="HorseShoeHill">
        <input type="submit" id="locName" name="locName" value="Rose Garden">
        <input type="submit" id="locName" name="locName" value="Japanese Garden"><br>
        <input type="submit" id="locName" name="locName" value="Place Holder">
        <input type="submit" id="locName" name="locName" value="Place Holder">
        <input type="submit" id="locName" name="locName" value="Place Holder">
        <input type="submit" id="locName" name="locName" value="Place Holder"><br>
        
        </form> 
      </div>
      <style>
        input {
          border-radius: 1.5rem;
          width:90%;
          height: 100%;
          background-color: rgb(100, 100, 100);
          color: rgb(255, 255, 255);
          border-style:ridge;
          margin: 10px;
        }
    
      </style>
    
      <div id="sidebar">
        <div class="toggle-btn" onclick="show()">
          <span></span>
          <span></span>
          <span></span>
        </div>
  
        <ul>
          <li> <a href="indexHome.html">Home</a> </li>
          <li> <a href="locationHome.html">Quick Search</a> </li>
          <li> <a href="aboutus.html">About</a> </li>
          <li> <a href="contact.html">Contact</a> </li>
          <li> <a href="campusMap.html">Campus Map</a> </li>
      </ul>
  </div>
  
  <script>
    function show() {
      document.getElementById('sidebar').classList.toggle('active');
    }
  </script>

  
  </body>

</html>