@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
::-webkit-scrollbar{
    display: none;
}

.title h1{
   text-align: center;
   font-size:200%;
   
}
.showcase{
	
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgb(255, 255, 255);
    z-index: 2;
    transition: .5s;
    
}
 .showcase header{
    position: fixed;
    top: 0;
    left: 95%;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.showcase.active{
    color: black;
    right: 250px;
    
    
}

body {
	background-image:url('../static/images/pool_table.png');
    font-family: 'Jost', sans-serif;
	color: #FFFFFF;
	line-height: 1.6;
}

.container {
	max-width: 650px;
	margin: 1rem auto;
	overflow: auto;
	padding: 0 2rem;
}

.mapBox {
	max-width: 650px;
	margin: 1rem auto;
	overflow: auto;
	padding: 0 2rem;
	padding-top: 15%;
	
}
h1 {
	color: #000;
	margin-top: 15px;
}

h3 {
	margin-bottom: 10px;
}

img {
	width: 100%;
}

.message {
	text-align: center;
	padding: 5px;
	border: rgb(8, 0, 0) dotted 2px;
	margin-top: 2rem;
}

.logo {
    position:relative;
	width: 300px;
	display: block;
	margin: auto;
}

.form-group {
	margin: 1rem 0;
}

input[type='text'],
select,
textarea {
	display: block;
	width: 100%;
	padding: 0.4rem;
	font-size: 1.2rem;
	border: 1px solid rgb(255, 255, 255);
	border-radius: 40rem;
	border-style:dotted;
}

input{
	background-color:rgb(250, 253, 250);
	color: rgb(20, 10, 10);
}


a{
    display: inline-block;
    font-size: 1em;
    border-left: 1px solid rgb(222, 226, 2);
    border-bottom: 1px solid rgb(222, 226, 2);
    padding: 10px 30px;
    text-decoration: none;
    color: rgb(222, 226, 2);
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: .2s;
}

#sidebar{
    position: absolute;
   
    width: 330px;
    height: 100%;
    background-image: url('../static/images/background2.png');
    right: -330px; 
    display:none;
    
}
#sidebar.active{

    display:flex;
    right:0;
  
}
#sidebar .entireSection {
    margin-top: 0;
}
#sidebar ul li{
    list-style:none;
    color: rgb(255, 255, 255);
    font-size:20px;
    padding: 20px 24px;
  
}


.toggle-btn{
    position:absolute;
    right: 30px;
    top:30px;
}

.toggle-btn span{
    
    width:45px;
    height:4px;
    background: rgb(222, 226, 2);
    display: block;
    margin-top: 4px;
    border-radius: 20rem;
}

/*---------------------------*/
/*CSS for Campus Map and Contact*/
#campusMap {
    
    width:600px;
    height:600px;
     border: 2px solid;
     resize:both;
     overflow: auto;
     display: flex;
     position: center;
     margin-top: 50px;
    margin: auto;
   

   }
   .contact{
       position: relative;
       min-height: 100vh;
       padding: 50px 100px;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       
   }
   .contact .content
   {
       max-width: 1000px;
       text-align: center;
   }
   .contact .content h2{
       font-size: 36px;
       font-weight: 500;
       color:rgb(46, 41, 116)
   }
   .contact .content p{
       font-weight: 300;
       color:rgb(46, 41, 116)
   }
   
   .contact .container{
       width: 100%;
       display: flex;
       justify-content: center;
       align-items: center;
       margin-top: 30px ;
   }
   
   .contactForm{
       position: relative;
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       
       padding: 50px 100px;
       background: rgb(255, 252, 252);
   }
   .contactForm .inputBox
   {
       position: relative;
       width: 100%;
       margin-top: 10px;
   }
   .contactForm .inputBox input,
   .contactForm .inputBox textarea
   {
       width: 100%;
       pad: 5px 0;
       font-size: 16px;
       margin-top: 10px 0;
       border:none;
       border-bottom: 2px solid #333;
       outline: none;
       resize: none;
   }

.form-group{
    margin-bottom:1.5em;
    transition:all .3s;
}
.form-label{
    font-size:.75em;
    color:var(--font-color);
    display:block;
    opacity:0;
    transition: all .3s;
    transform:translateX(-50px);
}
.form-control{
    box-shadow:none;
    border-radius:0;
    border-color:#ccc;
    border-style:none none solid none;
    width:100%;
    font-size:1.25em;
    transition:all .6s;
}
.form-control::placeholder{
    color:#aaa;
}
.form-control:focus{
    box-shadow:none;
    border-color:var(--font-hover-color);
    outline:none;
}
.form-group:focus-within{
    transform:scale(1.1,1.1);
}

.form-control:invalid:focus{
    border-color:red;
}
.form-control:valid:focus{
    border-color:green;
}

.btn{
    background: 0 0 rgb(46, 173, 52);
    border:1px solid #aaa;
    border-radius:3px;
    color:var(--font-color);
    font-size:1em;
    padding:10 50px;
    text-transform:uppercase;
}
.btn:hover{
    border-color:var(--font-hover-color);
    color:var(--font-hover-color);
}

@media (max-width: 991px){
    .showcase,
    showcase header{
        padding: 40px;
    }

    .text h2{
        font-size: 3em;
    }
    .text h3{
        font-size: 2em;
    }
}

